h1, p, body {
    margin: 0;
}

article p, article a {
    font-size: 20px;
}

header {
    margin-bottom: 20px; /* 下の余白を20px */
    background-color: rgb(244, 79, 79); /* 背景色をrgb(244, 79, 79)に設定 */
    text-align: center; /* 中の要素を中央揃えにする */
}

h1 {
    color: rgb(255, 255, 255); /* 文字色を白色に設定 */
}

main {
    padding: 10px; /* 上下左右ともに10pxの余白を設定 */
}

#parent {
    display: flex; /* Flexコンテナに設定 */
    justify-content: space-around; /* アイテムを均等に配置し、最初と最後のアイテムにも間隔を設ける */
}

.contents {
    border: 3px solid rgb(238, 204, 204); /* 太さ3px、実線、色rgb(238, 204, 204)で囲む */
    flex-basis: 25%; /* 幅を親要素の25%に設定 */
    padding: 10px 15px; /* 要素内の余白を上下10px、左右15pxに設定 */
    margin: 20px 0; /* 要素外の余白を上下20px、左右0に設定 */
    text-align: center; /* 縦方向で中央揃え */
}

h2 {
    font-size: 25px; /* フォントサイズを25pxに設定 */
    border-bottom: 3px dotted  rgb(236, 122, 122);
}
   
  .contents img {
    width: 70%; /* 画像の幅を親要素に合わせる */
    margin: 10px 0;
}
  
  h2::before {
    content: "●"; /* 「●」記号を表示 */
    color: rgb(239, 111, 139); /* 記号の色をrgb(239, 111, 139)に設定 */
}

  .contents p:nth-of-type(2)::first-letter {
    font-weight: bold; /* 太字 */
    color: rgb(97, 206, 249); /* 文字色をrgb(97, 206, 249)に設定 */
}

  footer {
    background-color: rgb(244, 79, 79); /* 背景色をrgb(244, 79, 79)に設定 */
    text-align: center; /* 中身の要素を中央揃えにする */
}

  footer a {
    color: rgb(255, 255, 255); /* 通常時の文字色をrgb(255, 255, 255)に設定 */
}
  
  footer a:visited {
    color: rgb(193, 234, 251); /* 訪問済みリンクの文字色をrgb(193, 234, 251)に設定 */
}
  
  footer a:hover {
    color: rgb(245, 178, 168); /* マウスカーソルが乗ると文字色がrgb(245, 178, 168)に変化 */
}

  @media screen and (max-width: 768px) {
    h2 {
      font-size: 30px; /* h2のフォントサイズを30pxに設定 */
    }
  
    p {
      font-size: 25px; /* pのフォントサイズを25pxに設定 */
    }
  
    #parent {
      flex-direction: column; /* 要素を縦に並べる */
    }
}
    